* {
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Inter', sans-serif;
}
main {
    width: 65%;

}

main .card-list {

    margin: 1em;
    width: 100%;
    display: flex;
    justify-content: space-between;

}

main .card-list .card {
    background: linear-gradient(281.77deg, #BBE7FC 32.97%, #095B83 92.16%);
    color: white;
    border-radius: 16px;
    position: relative;
    overflow: hidden;
    width: 256px;
    height: 128px;
    box-shadow: 2px 0 8px 0px #66666640;
}

main .card-list .card .card-body {
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    margin: 0 auto;
}

main .card-list .card .no {

    font-size: 64px;

    font-weight: 700;
}

main .card-list .card .title {
    font-weight: 700;

    font-size: 1.2em;
}

main .card-list .card i {
    font-size: 8em;
    color: #095B8399;
    position: absolute;
    right: 0;
    top: 20%;
    transform: rotate(-25.1deg);
}

main .task-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1em;
    margin: 1em;

}
main .task-list .search{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
    height:55px;
    background-color: #FFFFFF;
    box-shadow: 2px 0 8px 0px #66666640;


    border-radius: 14px;


}
main .task-list .search  i{
    font-size: 24px;
    color: #C8C8C8;
}
main .task-list .search input{
    width: 90%;
    border: none;
    outline: none;
    font-size: 18px;

}
main .task-list .search input::placeholder{
    color: #C8C8C8;
}




main .task-list .list .task {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    background-color: #FFFFFF;
    box-shadow: 2px 0 8px 0px #66666640;
    border-radius: 12px;
    height: 80px;


}
main .task-list .list .task .check-box{
    border-radius:50%;
    padding: 0.3em;
    font-size: 24px;
    color: white;

    background-color: #11A8E6;
}
main .task-list .list .task .task-body{
    width: 90%;

}

main .task-list .list .task .task-body input{
    outline: none;
    border: 1px solid #11A8E6;
    color: #11A8E6;;
    border-radius: 4px;
    font-size: 18px;

}


main .task-list .list .task input:disabled{
    border:none;
}


main .task-list .list .task .task-body p{
    font-size: 14px;
    color: #434343BF;
}